name: Build JAR

on:
  push:
    branches:
      - master  # Trigger on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout this repository
      uses: actions/checkout@v3

    - name: Clone maven-web-application
      run: |
        git clone https://github.com/facebook-robot/maven-web-application.git

    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '11'

    - name: Build JAR using Maven
      working-directory: maven-web-application   # Set to the cloned repo folder
      run: mvn clean package

    - name: List generated JAR file
      run: ls other-repo/target/
